.productlist-main {
    display: flex;
    flex-direction: column;
}

.productlist-featured-section {
    width: 100%;
    margin: 20px 5px;
    padding: 10px 40px;
    background-color: purple;
}

.productlist-featured-section>ul {}

.productlist-featured-section>ul>li {
    color: white;
}

.productlist-viewmore-button {
    padding: 20px;
}